@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

   
</div>

<form asp-controller="Home" asp-action="SearchCarByYear">
    <label for="donutId">Search Year</label>
    <input type="number" id="year" name="year" />   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<form asp-controller="Home" asp-action="SearchCarByModel">
    <label for="donutId">Search Model</label>    
    <input type="text" id="model" name="model" />    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<form asp-controller="Home" asp-action="SearchCarByMake">
    <label for="donutId">Search Make</label>
    <input type="text" id="make" name="make" />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<form asp-controller="Home" asp-action="SearchCarByColor">
    <label for="donutId">Search Color</label>
    <input type="text" id="color" name="color" />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


